@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@tailwind base;
@tailwind utilities;

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(35deg, #000000, #1e8726);
}


/* <-- === FORMULÃRIO === -->*/
.form {
    @apply w-full h-auto rounded-2xl bg-mygrey-150 p-3
}

.form h1 {
    @apply text-2xl text-mywhite-full font-bold text-center pt-8
}

.footer-form {
    @apply w-full h-20 mt-5 flex justify-center
}