@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@tailwind base;
@tailwind utilities;

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(35deg, #000000, #1e8726);
}

/* < === === === === ESTILOS DA HOME === === === === >*/
.text-gradient {
    @apply font-bold bg-gradient-to-r from-myblue-full to-mygreen-full text-transparent bg-clip-text
}

.contact-me {
    @apply w-7/12 h-16 text-mywhite-full bg-mygrey-200 px-6 rounded-lg hover:bg-mygrey-150 flex justify-evenly items-center duration-500
}

/* < === === === === ESTILO DO FORMULARIO === === === === >*/
.form {
    @apply w-full h-auto rounded-2xl bg-mygrey-150 p-3
}

.form h1 {
    @apply text-2xl text-mywhite-full font-bold text-center pt-8
}

.footer-form {
    @apply w-full h-20 mt-5 flex justify-center
}